*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

input{
    border: none;
}

html{
    font-size: 100% ;
    line-height: 1rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.grid{
    margin: auto 80px;
}

.header{
    height: 80px;
    padding: 20px 0;
    box-shadow: 0px 6px 18.6px 0px rgba(0, 0, 0, 0.01);
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.nav__search{
    max-width: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    justify-content: center;
    background-color: var(--gray100);
}

.nav__search .icon__search{
    width: 24px;
}

.nav__inf{
    display: flex;
    gap: 32px;
    align-items: center;
}

.all-content{
    margin-top: 48px;
}

.all-blog{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.blog{
    flex-basis: 66.666%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content__info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.comment__all{
    flex-basis: 33.333%;
}

.info__blog{
    display: flex;
    justify-content: space-between;
}

.info__author{
    display: flex;
    gap: 16px;
    align-items: center;
    flex: 1;
}

.author__name-btn{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.button__follow div{
    border-radius: 8px;
}

.button__share{
    padding: 16px;
    background-color: var(--gray100);
    border-radius: 8px;
}

/* SUB */
.content__sub-info{
    display: flex;
    padding: 16px;
    gap: 24px;
    flex: 1;
}


.sub__category{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #4909FF;
}

.sub__category .circle-8px{
    background-color: #4909FF;
}


.sub__border{
    border: 1px solid var(--gray300);
    height: 24px;
}

.sub__calendar, .sub__calendar .text--medium{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 16px;
    color: var(--gray500);
}


/* like share */
.content__like-share{
    display: flex;
    gap: 80px;
    padding: 16px;
    border: 1px solid var(--gray300);
    border-radius: 8px;
}

.blog__tym{
    display: flex;
    align-items: center;
    gap: 8px;
}

.blog__comment{
    display: flex;
    align-items: center;
    gap: 8px;
}


/* start-border */

.content__start{
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--gray300);
}



.border--horizontal{
    width: 100%;
    background-color: var(--gray300);
    height: 1px;
    flex: 1;
    position: relative;
}

.border--horizontal::after{
    border: 4px solid var(--gray300);
    content: "";
    position: absolute;
    border-color: transparent transparent transparent var(--gray300);
    right: -6px;
    top: -3px;

}

/* Content blog */
.content__blog{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 150px;
}

.content__blog .text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Comment */

.all__comment{
    background-color: var(--gray100);
    border-radius: 16px;
    flex: 1;
    overflow-y: auto;
    height: 75vh;
    position: relative;
}

.comment{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.comment__heading{
    display: flex;
    align-items: center;
}

.comment__heading .h4__pc{
    flex: 1;
}

.comment__heading .icon__close{
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
}


/* Author */

.author__inf-name .author__inf-name-sub{
    color: var(--gray600);
}

.comment__author{
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

.author__inf{
    display: flex;
    align-items: center;
    gap: 8px;
}

.author__inf-name{
    flex: 1;
}

.author__content{
    padding: 12px 0;
    color: var(--gray600);
}

.author__like-time{
    display: flex;
    gap: 16px;
}

.author__like{
    display: flex;
    gap: 4px;
    align-items: center;
    color: var(--gray600);
}

.author__time{
    display: flex;
    gap: 4px;
    align-items: center;
    color: var(--gray400);
}


/* ME */

.all-comment__me{
    padding: 24px;
    background-color: white;
    box-shadow: 0px -8px 30.3px 0px rgba(0, 0, 0, 0.02);
    position: sticky;
    bottom: 0;
}

.comment__me{
    border: 1px solid var(--gray300);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.me__inf{
    display: flex;
    gap: 8px;
    align-items: center;
}

.me__comment{
    display: flex;
    gap: 8px;
}

.me__comment .icon__send{
    padding: 12px;
}

.input__me-comment{
    padding: 12px;
    border-radius: 8px;
    flex: 1;
}